@media (max-width: 600px) {
    .schedule-container {
      width: 100%;
      display: inline-block;
   overflow-x: auto;
    }
   
    
  }
  @media  screen and (min-width:600px) {
   
    .schedule-container {
        width: 100%;
        height: 80vw;
        float: right;
        margin: 20px 0 0;
    }
    
   .schedule-table td {
    height: 5vw;
  }
      
   }
  